In [12]:
import pandas as pd
applestock = pd.read_csv("countries.csv")

In [13]:
applestock

          country  year  population
0     Afghanistan  1952     8425333
1     Afghanistan  1957     9240934
2     Afghanistan  1962    10267083
3     Afghanistan  1967    11537966
4     Afghanistan  1972    13079460
...           ...   ...         ...
1699     Zimbabwe  1987     9216418
1700     Zimbabwe  1992    10704340
1701     Zimbabwe  1997    11404948
1702     Zimbabwe  2002    11926563
1703     Zimbabwe  2007    12311143

[1704 rows x 3 columns]

In [18]:
from ipyleaflet import (Map, DrawControl)
mymap = Map(center=[32.77,-96.80], zoom = 12)
dc = DrawControl (circle = {'shapeOptions': {'color': '#0000FF'}})
mymap.add_control(dc)
mymap

Map(center=[32.77, -96.8], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_o…

In [19]:
from ipyleaflet import (Map, DrawControl)
mymap2 = Map(center=[32.77,-96.80], zoom = 12)
dc2 = DrawControl (circle = {'shapeOptions': {'color': '#0000FF'}}, rectangle = {'shapeOptions': {'color': '#0000FF'}})
mymap2.add_control(dc2)
mymap2

Map(center=[32.77, -96.8], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_o…