In [1]:
a1+4

NameError: name 'a1' is not defined

In [2]:
1+4

5

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
s = pd.Series([1,2,3,4,5,np.nan,8,9,9])

In [7]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    8.0
7    9.0
8    9.0
dtype: float64

In [14]:
d = pd.date_range("20200301", periods = 13)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(13,4), index=d,columns = ["A","B","C","D"])
df

                   A         B         C         D
2020-03-01 -0.543159  0.317615 -1.388505 -3.379615
2020-03-02 -1.503447  1.724870  1.606784 -0.406298
2020-03-03 -0.207714  0.512559 -0.844333 -0.661669
2020-03-04  0.505274 -1.081322 -0.091204  0.788332
2020-03-05  0.054603  0.179332  0.386265  0.074280
2020-03-06  0.779814  0.564228 -2.025087  0.464708
2020-03-07 -0.595415  0.187146 -0.643940  1.016394
2020-03-08 -1.165484 -1.024182 -0.438278  0.806738
2020-03-09  1.071237 -0.065605 -0.558945 -0.054774
2020-03-10  0.578517 -1.506872  2.544284 -0.815647
2020-03-11 -1.889614 -0.567347 -1.106473  0.000299
2020-03-12  0.380727 -1.839244 -3.566980  0.254343
2020-03-13 -0.215302  0.544249 -0.414804 -0.082666

In [23]:
df = pd.DataFrame({'A': [1,2,3,4],
                    'B': pd.Timestamp('20200301'),
                  'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D' : np.array([5]*4, dtype="int32"),
                  'E' : pd.Categorical(['True', 'False','True','False' ]),
                   'F' : 'Edureka'
                  })
df

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   True  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [21]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object